* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 900px;
    padding: 5px;
    border: solid 1px #f5f5f5;
}

table {
    width: 100%;
}

table thead tr th {
    background-color: #4d4d4d;
    color: #fff;
    padding: 5px;
    text-align: center;
}

table caption {
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;    
}

table tbody tr:nth-child(odd) {
    padding: 3px;
    background-color: #c6c6c6;
}

table tbody tr td {text-align: center;}

.errorMessage {
    background-color: #f76f00;
    color: #fff;  
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.successMessage {
    background-color: #224e09;
    color: #fff;  
    font-weight: bold;
    font-size: 13px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
